﻿@model Lp.Coriander.Web.ViewModel.Menu.MenuViewModel
           
<ul>
    @foreach (var menu in Model.Menus)
    {
        <li class="">
            <a href="javascript:;"> <i class="icon-custom-ui"></i> <span class="title">@menu.MenuName</span> <span class="arrow "></span> </a>
            <ul class="sub-menu">
                <li> <a href="typography.html"> Typography </a> </li>
                
                @foreach (var menuItem in menu.MenuItems)
                {
                    <li class=""> <a href="@menuItem.Link"> <i class="fa @menu.Icon"></i>  <span class="title">@</span></a></li>
                }
            </ul>
        </li>
    }
</ul>
            
